.ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    overflow: hidden;
    background-color: #272D2D;
    border-bottom: 2px solid #5B6C00;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title{
    letter-spacing: 2px;
}



.li {
    float: left;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.li a:hover {
    background-color: #111;
}

.right{
    float: right; 
}
