.ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    overflow: hidden;
}



.li {
    float: right;
}

.li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
