.layout{

}
.header{
    border-bottom: 1px solid#32CD32;
}

.content{ 
    position:absolute;
    top:64px;
    bottom:50px;
    width:100%;
}
 

.footer{
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height:10px;
    line-height: 10px;
    text-align: center
}
